<div class="intro">
  <video autoplay loop muted playsinline class="video-bg">
    <source src="assets/img/video-1.mp4">
  </video>
  <div class="my-nav">
    <a href="/">
      <img src="assets/img/logo.png" alt="logo" class="logo">
    </a>
  </div>
  <div class="welcome">
    <h1>FURAMA<br>Resort<br>Danang</h1>
  </div>
</div>

<section class="home" id="home">
  <div class="carousel slide home-slider" id="carouselExampleControls" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="box " style="background: url('../../assets/img/home-bg-1.jpg') no-repeat;">
          <div class="content">
            <span>Never Stop</span>
            <h3><strong>Exploring</strong></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta
              consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
            <button data-text="Get started" class="btn-learn-more">
              <span style="font-size: 25px">Learn more</span>
            </button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="box d-flex justify-content-start" style="background: url('../../assets/img/home-bg-2.jpg') no-repeat;">
          <div class="content">
            <span>Make Tour</span>
            <h3>Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta
              consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
            <button data-text="Get started" class="btn-learn-more">
              <span style="font-size: 25px">Learn more</span>
            </button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="box" style="background: url('../../assets/img/home-bg-3.jpg') no-repeat;">
          <div class="content">
            <span>Explore The</span>
            <h3>New World At Furama</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta
              consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
            <button data-text="Get started" class="btn-learn-more">
              <span style="font-size: 25px">Learn more</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
