<div class="container">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <form [formGroup]="productForm" (ngSubmit)="submit()">
        <table>
          <tr>
            <td>Mã sản phẩm:</td>
            <td><input type="number" formControlName="id"></td>
          </tr>
          <tr>
            <td>Tên sản phẩm:</td>
            <td><input type="text" formControlName="name"></td>
          </tr>
          <tr>
            <td>Giá sản phẩm:</td>
            <td><input type="number" formControlName="price"></td>
          </tr>
          <tr>
            <td>Loại sản phẩm:</td>
            <td>
              <select formControlName="category">
                <option *ngFor="let categoryObj of categories" [ngValue]="categoryObj">{{categoryObj.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Mô tả về sản phẩm</td>
            <td><input type="text" formControlName="description"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit">Chỉnh sửa</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
