<div class="container d-flex justify-content-md-center my-5" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-12 bg-light info">
      <form action="/customer/create" method="post" th:object="${customerDto}">
        <fieldset>
          <legend style="text-align: center">Customer Information</legend>
          <table>
            <tr>
              <td>Name
              </td>
              <td>
                <input type="text" name="name" id="name"
                       class="form-control"
                       title="Input cho dung' hi?"
                       th:field="*{name}">
                <div class="text-danger" th:errors="*{name}"></div>
              </td>
            </tr>
            <tr>
              <td>Birthday
              </td>
              <td>
                <input type="date" name="birthday" id="birthday" class="form-control"
                       th:field="*{birthday}">
                <div class="text-danger" th:errors="*{birthday}"></div>
              </td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>
                <select name="gender" id="gender" class="form-select"
                        th:field="*{gender}">
                  <option value="1">Male</option>
                  <option value="0">Female</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Identify Card
              </td>
              <td>
                <input type="text" name="idCard" class="form-control"
                       th:field="*{identifyCard}">
                <div class="text-danger" th:errors="*{identifyCard}"></div>
              </td>
            </tr>
            <tr>
              <td>Phone Number
              </td>
              <td>
                <input type="text" name="phoneNumber" class="form-control"
                       th:field="*{phoneNumber}">
                <div class="text-danger" th:errors="*{phoneNumber}"></div>
              </td>
            </tr>
            <tr>
              <td>Email
              </td>
              <td>
                <input type="text" name="email" class="form-control"
                       th:field="*{email}">
                <div class="text-danger" th:errors="*{email}"></div>
              </td>
            </tr>
            <tr>
              <td>Address
              </td>
              <td>
                <input type="text" name="address" class="form-control"
                       th:field="*{address}">
                <div class="text-danger" th:errors="*{address}"></div>
              </td>
            </tr>
            <tr>
              <td>Customer Type</td>
              <td>
                <select name="customerType" class="form-select"
                        th:field="*{customerType}">
                  <option th:each="customerTypeObj : ${customerTypeList}"
                          th:value="${customerTypeObj.id}"
                          th:text="${customerTypeObj.name}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="reset" value="Clear"></td>
              <td><input type="submit" value="Create new Customer" class="btn btn-success"></td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>
