html{
  scroll-behavior: smooth;
}
.intro{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #0000ff, #ff0066);
  border-radius: 100rem;
}
body::-webkit-scrollbar-track{
  background-color: #ccc;
  border-radius: 100rem;
}
.my-nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-nav .logo{
  width: 80px;
}

.welcome{
  text-align: center;
}

.welcome h1{
  font-size: 120px;
  font-family: Poppins, serif;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.welcome h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.video-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video-bg{
    width: 100%;
    height: auto;
  }
}@media (max-aspect-ratio: 16/9) {
  .video-bg{
    width: auto;
    height: 100%;
  }
}
.neon {
  cursor: pointer;
  transition: .5s;
}

.neon:hover {
  color: #fff;
  text-shadow: 0 0 5px #0FFF32,
  0 0 25px #0FFF32,
  0 0 50px #0FFF32,
  0 0 100px #0FFF32;
}

body {
  background-size: 100%;
  background: linear-gradient(to top right, #0066ff 0%, #cc3399 100%) no-repeat fixed;
  font-family: "UTM Caviar", serif;
}

table {
  border-radius: 1em;
  overflow: hidden;
}

.info {
  border-radius: 1em;
  overflow: hidden;
}

html {
  /*font-size: 62.5%;*/
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #2f3542;
}

section {
  padding: 5rem 9%;
}

.btn2 {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #2f3542;
  color: #2f3542;
  text-decoration: none;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn2:hover {
  background: #2f3542;
  color: #fff;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.home .box .content {
  width: 30rem;
}

.home .box .content a {
  font-size: 100%;
}

.home .box .content span {
  font-size: 2.5rem;
  color: #2f3542;
}

.home .box .content h3 {
  font-size: 3.5rem;
  color: #FF385C;
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: #2f3542;
  font-size: 1rem;
  padding: 1rem 0;
}

.btn-learn-more{
  background-color: transparent;
  font-size: 20px;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.btn-learn-more::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(144deg,#af40ff, #5b42f3 50%, #00ddeb);
  color: #fff;
  display: grid;
  place-items: center;
  transform: translateX(-105%);
  transition: tranform .5s;
}
.btn-learn-more:hover::before {
  transform: none;
}
.btn-learn-more span{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #5b42f3;
  transition: transform 0.5s;
}
.btn-learn-more:hover span{
  transform: translateX(105%);
}
