<div class="container d-flex justify-content-md-center my-5" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-12 bg-light info">
      <form [formGroup]="busForm" (ngSubmit)="submit()">
        <fieldset>
          <legend style="text-align: center">Thông tin xe khách</legend>
          <table>
            <tr>
              <td>Số xe</td>
              <td>
                <p formControlName="busNumber" readonly
                   type="text" name="busNumber" id="busNumber"
                   class="form-control">{{tripObj.agency.busNumber}}</p>
              </td>
            </tr>
            <tr>
              <td>Nhà xe</td>
              <td>
                <select formControlName="agency"
                        type="text" name="agency"
                        id="agency" class="form-control">
                  <option *ngFor="let agencyObj of agencies" [ngValue]="agencyObj">{{agencyObj.name}}</option>
                </select>
                <p class="text-danger" *ngIf="busForm.controls.agency.get('name').hasError('required')
                      && busForm.controls.agency.get('name').touched">
                  Bắt buộc nhập
                </p>
              </td>
            </tr>
            <tr>
              <td>Điểm đi</td>
              <td>
                <select name="" id="" formControlName="departure">
                  <option value="Ho Chi Minh">HCM</option>
                  <option value="Hue">Hue</option>
                  <option value="Ha Noi">Ha Noi</option>
                </select>
                <p class="text-danger" *ngIf="busForm.controls.go.hasError('required')
                      && busForm.controls.go.touched">
                  Bắt buộc nhập
                </p>
              </td>
            </tr>
            <tr>
              <td>Điểm đến</td>
              <td>
                <input formControlName="arrival"
                       type="text" name="arrival"
                       id="arrival" class="form-control">
                <p class="text-danger" *ngIf="busForm.controls.arrival.hasError('required')
                      && busForm.controls.arrival.touched">
                  Bắt buộc nhập
                </p>
              </td>
            </tr>
            <tr>
              <td>Giờ đi</td>
              <td>
                <input formControlName="departureTime"
                       type="text" name="departureTime"
                       id="departureTime" class="form-control">
                <p class="text-danger" *ngIf="busForm.controls.departureTime.hasError('required')
                      && busForm.controls.departureTime.touched">
                  Bắt buộc nhập
                </p>
              </td>
            </tr>
            <tr>
              <td>Giờ đến</td>
              <td>
                <input formControlName="arrivalTime"
                       type="text" name="arrivalTime"
                       id="arrivalTime" class="form-control">
                <p class="text-danger" *ngIf="busForm.controls.arrivalTime.hasError('required')
                      && busForm.controls.arrivalTime.touched">
                  Bắt buộc nhập
                </p>
              </td>
            </tr>
            <tr>
              <td><a routerLink="bus" class="btn btn-outline-secondary">Quay lại</a></td>
              <td>
                <button type="submit" class="btn btn-outline-success">Tạo mới</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>
